.navigation{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.nav-item{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.list-item:hover{
    background-color: #ec4040;
    cursor: pointer;
}

.list-item{
    padding: 3% 15%;
}
