.navigation{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-evenly;
}

.nav-item{
    text-decoration: none;
    color: white;
    font-weight: 500;
}